
"+++++++++common+++++++++

"===moving around
noremap H 4b
noremap J 5j
noremap K 5k
noremap L 4w

"===page up/down
noremap <C-e> <C-u>

"===undo
noremap <C-y> <C-r>

"===inc dec 1
noremap _ <C-x>
noremap + <C-a>

"===select all
noremap <C-a> ggVG

"===move the cursor out of the braket
inoremap <C-l> <RIGHT>

"===make Y copy till end of the line
nnoremap Y y$

"===searching select
noremap - Nzz
noremap = nzz

"===cancel highlight
noremap <silent> 0 :nohlsearch<CR>

"===save&quit
noremap <C-s> :w<CR>
noremap <C-q> :q!<CR>

"===combine lines
noremap Q J

"+++++++++common+++++++++

"===leaderkey
let mapleader=" "

set hlsearch
set cursorline
set number
set relativenumber
set scrolloff=7
set shiftwidth=2
set tabstop=4
set softtabstop=4
set list
set listchars=tab:→\ ,
set wrap
set tw=0
set noshowmode
set mouse=a
set ignorecase
set wildignorecase
set smartcase
set clipboard+=unnamedplus

set clipboard+=unnamed
map gh <Action>(ShowHoverInfo)
